.content-page
{
  background: white;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
  align-items: flex-end;

  height: 100%;
}

.left-flex-box
{
  width: 800px;
}

.left-flex-box img
{
  
  margin-left: 10px;

  border-radius: 8px;
}

.right-flex-box
{
  margin-left: 20px;
  min-width: 200px;
  
}

.content-container
{
  height: 600px;

  margin: 10px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: hidden;
  
}

.content-container:hover
{
  overflow-y: scroll;
  
}

.container-img
{
  
}

.content-container img
{
  margin-top: 4px;
  max-width: 98%;
}

@media (max-width: 1200px)
{
  .right-flex-box
  {
    width: 100%;
  }
  .left-flex-box
  {
    width: 100%;
  }
}