.box-header
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}

.SearchInput
{
    width: 300px;
    transition-property: width;
    transition-duration: 2s;
    background: white;
}

.SearchInput:focus
{
    width: 500px;
}

.box-header-left button, .box-header-left p
{
    display: inline-block;
}
.box-header-left *
{
    margin-right: 10px;
}
.box-header-left img
{
    border-radius: 50%;
}
.box-header-left img:hover
{
    cursor: pointer;
}