.main-input-box
{
    position: absolute;
    left: 30%;
    top: 20%;

    width: 400px;
}

.center-input-box
{
    width: 90%;
    border-radius: 4px;

    margin: 1% auto;

    background: whitesmoke;
}
.center-input-box>p
{
    margin: 0;
    
    font-weight: bold;
    text-align: center;
}

.center-input-box-input-container
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-input-box-input-container *
{
    
}

.center-input-box-input-container p, label
{
    text-align: center;
}

.center-input-box-input-container input[type='text'], input[type='password']
{
    height: 30px;
    width: 250px;
}

.center-input-box-input-container textarea
{
    width: 100%;
    height: 100px;
}

.center-input-box-input-container button
{
    height: 40px;
    cursor: pointer;
}

.center-input-box-input-container img
{
    margin-top: 4px;
    border: 2px solid white;
    border-radius: 4px;    
}

.uncorrect-input
{
    border: 1px solid red;
}

.correct-input
{
    border: 1px solid greenyellow;
}
