.mini-card-box
{
  position: relative;

  border-radius: 4px;
  background: white;

  min-width: 300px;
  min-height: 180px;

  display: inline-block;

  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);

}

.mini-card-box:hover
{
  background-color: #DAE4FF;
}

.mini-card-box img
{
  display: block;

  height: 100%;
  width: 100%;

  border-radius: 4px;
  cursor: pointer;
}

.mini-card-box>:nth-child(2)>p
{
  display: inline-block;
}

.mini-card-box>:nth-child(1)>img:hover
{
  cursor: pointer;
}

.mini-card-about
{
  width: 100%;
  height: 100px;
  
  background: #D5E0FE;
  
  
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  overflow-y: scroll;
  overflow-x: hidden;
}

.hidden-info
{
  top: 0px;
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 4px;
  
  display: flex;  
  align-items: flex-end;

  transition-property: color, background-color, opacity;
  transition-duration: 0.75s;

  opacity: 0;
  filter: alpha;
}

.hidden-info:hover
{
  color: white;
  background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25) );
  cursor: pointer;

  opacity: 1;
  filter: alpha;
}

.hidden-info p 
{
  padding: 0px;
  margin: 0px;
  width: 100%;
  
  text-align: center;
  font-size: 16pt;
}

.hidden-info  img
{
  display: inline;
  border-radius: 50%;
  background: lightgray;
  width: 25px;
  height: 25px;

}