.menu-main {
    list-style: none;
    margin: 20px 0px 10px 4px;
    text-align: center;
    background: white;
    padding-left: 0;
    border-radius: 4px;
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 32px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.2s;
  }
  .menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover
{
    color: #feb386;
    cursor: pointer;
}
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: 10px;
    left: 50%;
    background: #86bcfe;
    transition: .8s;
  }
  .menu-main a:hover:before, .menu-main .current:before {left: 0;}
  .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
  @media (max-width: 550px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }
  