ul.tag-list
{
  padding-left: 0px;
  text-align: left;
}

.tag-list li
{
  width: 100%;
  padding-left: 10%;

  transition-property: background-color, padding;
  transition-duration: 0.2s;
}
.tag-list li:hover
{
  background: #577CA1;
  cursor: pointer;
  padding-left: 20%;
}

.tag-list li::marker
{
  content: "";
}

.tag-list li::before
{
  content: "#";
  font-weight: bold;
}

.tag-list li:hover::before
{
  background: #577CA1;
}