.box-header>div
{
    display: inline-block;
}

.SearchInput
{
    width: 300px;
    transition-property: width;
    transition-duration: 2s;
    background: white;
}

.SearchInput:focus
{
    width: 500px;
}